{% extends "accounts/profile_base.html" %}
{% block title %}{{ clock.name }} – {{ ENV_SITE_NAME }}{% endblock %}
{% load tz %}

{% block profile_content %}
<p><strong>ID:</strong> {{ clock.id }}</p>

<hr>
{% if requested_user == user_owner %}
<label for="user_id"><strong>Додати користувачів:</strong></label>
<input
    type="text"
    id="user_id"
    name="user_id"
    class="form-control"
    placeholder="ID або нікнейм користувача"
    hx-get="{% url 'user_search_by_id' clock.id %}"
    hx-trigger="keyup delay:300ms"
    hx-target="#user-search-results"
    autocomplete="off"
>

<div id="user-search-results" class="mt-2"
     hx-on="htmx:afterRequest:document.getElementById('user_id').value = ''"
></div>

<h5>Дозволені користувачі</h5>

<div id="allowed-users-table" class="mt-2">
    {% include "includes/allowed_users_table.html" %}
</div>
{% endif %}
<form method="post" action="{% url 'clock_control' clock.id %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <!-- Назва -->
    <label for="clock_name"><strong>Назва:</strong></label>
    <input type="text" name="clock_name" id="clock_name" value="{{ clock.name }}" class="form-control mb-2">

    <!-- Тікання -->
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="tick_enabled" id="tick_enabled"
               {% if clock.tick_enabled %} checked {% endif %}>
        <label class="form-check-label" for="tick_enabled">Тікання увімкнено</label>
    </div>

    <!-- Поточний час -->
    <label for="current_time"><strong>Поточний час:</strong></label>
    <p><strong>{{ current_time|date:"d.m.Y H:i:s" }}</strong></p>

    <!-- Оновити час -->
    <label for="current_time" class="form-label">
    <strong>Оновити час</strong>
    </label>
<div class="input-group mb-2">
    <span class="input-group-text">ISO 8601</span>
    <input
        type="datetime-local"
        name="current_time"
        id="current_time"
        class="form-control"
        placeholder="2025-11-26T04:32:15"
    >
</div>


<button type="submit" class="btn btn-primary mt-2">Зберегти</button>

</form>

<!--{% if messages %}-->
<!--    {% for message in messages %}-->
<!--        <div class="alert alert-info alert-dismissible fade show mt-2" role="alert">-->
<!--            {{ message }}-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--{% endif %}-->

<hr>
<a href="{% url 'profile_clocks' %}" class="btn btn-secondary mt-3">← Назад</a>
{% endblock %}
