{% extends "accounts/profile_base.html" %}
{% block title %}{{ clock.name }} – {{ ENV_SITE_NAME }}{% endblock %}
{% load tz %}

{% block profile_content %}
<h2>{{ clock.name }}</h2>
<p><strong>Активність:</strong> {{ clock.tick_enabled|yesno:"увімкнений,вимкнений" }}</p>
<p><strong>ID:</strong> {{ clock.id }}</p>
<form method="post" action="{% url 'clock_control' clock.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-primary">
        {% if clock.tick_enabled %}
            ⏸
        {% else %}
            ▶
        {% endif %}
        </button>
</form>

<p><strong>Поточний локальний час:</strong>
    {% localtime on %}
        {{ current_time|date:"Y-m-d H:i:s" }}
    {% endlocaltime %}
</p>

<p><strong>Поточний UTC час:</strong>
{{ current_time|utc|date:"Y-m-d H:i:s" }}
</p>

<h3>Змінити час</h3>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<form method="post" action="{% url 'clock_edit_time' clock.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mt-2">Зберегти</button>
</form>

<hr>
<a href="{% url 'profile_clocks' %}" class="btn btn-secondary mt-3">← Назад</a>


{% endblock %}
