{% extends "accounts/profile_base.html" %}
{% block title %}Мій кабінет – {{ ENV_SITE_NAME }}{% endblock %}

{% block profile_content %}
<h2 class="mb-4">Мій кабінет</h2>

<div class="row g-4">
  <div class="col-md-6 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-muted">Віртуальні годинники</h5>
        <h2>{{ total_clocks }}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-muted">Дата останнього входу</h5>
        <p class="fs-5">{{ user.last_login|date:"d.m.Y H:i" }}</p>
      </div>
    </div>
  </div>

    <div class="col-md-6 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-muted">Дата створення останнього годинника</h5>
        <p class="fs-5">{{ latest_clock.created_at|date:"d.m.Y H:i" }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card shadow-sm mt-3">
      <div class="card-body">
        <h5 class="card-title">API Токен користувача</h5>
        <div class="d-flex align-items-center">
          <code id="user-token">{{ api_token|slice:":8" }}•••{{ api_token|slice:"-4:" }}</code>
          <button class="btn btn-sm btn-outline-secondary ms-2" onclick="copyToken('{{ user.api_token }}')">Копіювати</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function copyToken(token) {
  navigator.clipboard.writeText(token);
  alert("Токен скопійовано!");
}
</script>
{% endblock %}
