{% extends "base.html" %}

{% block title %}Профіль – {{ ENV_SITE_NAME }}{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">Мій профіль</h1>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">API Токен Користувача</h5>
                <p class="card-text">
                    <code>{{ user.api_token }}</code>
                </p>
            {% if user.virtual_clocks %}
                <h5 class="card-title">API Токени віртуальних годинників</h5>
                {% for clock in user.virtual_clocks.all %}
                    <p class="card-text">
                        <code>{{ clock.api_token }}</code>
                    </p>
                {% endfor %}
            {% else %}
                <p class="text-muted">Токен ще не згенеровано.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
