{% include "includes/announcement.html" %}
<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" style="background: linear-gradient(to bottom, black, #2c5364);">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">{{ ENV_SITE_NAME }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<!--                    <li class="nav-item"><a href="#features" class="nav-link">Можливості</a></li>-->
<!--                    <li class="nav-item"><a href="#usecases" class="nav-link">Використання</a></li>-->
                    <li class="nav-item"><a href="{% url 'docs' %}" class="nav-link">Документація</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'profile_dashboard' %}" class="nav-link">Привіт, {{ user.username }}</a></li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary ms-lg-3" type="submit">Вийти</button>
                    </form>
                    </li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'signup' %}" class="btn btn-primary ms-lg-3">Реєстрація</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}" class="btn btn-primary ms-lg-3">Увійти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>