{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.level_tag }} alert-dismissible alert-msg" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<script>
setTimeout(() => {
  document.querySelectorAll('.alert-msg').forEach(el => {
    // спочатку візуально
    //el.classList.add('fade-out');

    // після завершення transition (500мс) видаляємо елемент з DOM
    setTimeout(() => el.remove(), 500);
  });
}, 8000); // через 6 секунд після появи
</script>
