{% extends "webapp/docs_base.html" %}
{% load static %}
{% block docs_content %}
<div class="col-md-12">
    <div class="card shadow-sm mt-3">
        <div class="mx-2 my-2">
            <h4 class="card-title">Швидкий старт</h4>
            <div>
                <p>
                    Для того, щоб почати роботу з годинниками, треба спочатку хоча б один.
                    Є два способи це зробити:
                </p>
                <ul>
                    <li>Панель керування</li>
                    <li>API</li>
                </ul>
                <p>
                    Створимо його через панель керування:
                </p>
                <ol>
                    <li>
                        Заходимо в особистий кабінет нажавши <b>Привіт, &lt;USERNAME&gt</b>;
                    </li>
                    <li>
                        Вибираємо на боковій панелі Віртуальні годинники
                    </li>
                    <li>
                        Перейшовши на сторінку, нажимаємо кнопку <b>&lt;+ створити&gt</b>;
                    </li>
                    <li>
                        Іменуємо наш годинник(опціонально), та нажимаємо кнопку <b>&lt;Створити&gt;</b>.
                    </li>
                    <li>
                        Нас повертає на сторінку віртуальних годинників і ми бачимо новоствроренний годинник,
                        нажимаємо на його назву (або None), та переходимо на сторінку налаштування останнього.
                    </li>
                    <li>
                        Перейшовиши в налаштування годинника, можемо робити небхідні з ним налаштування,
                        а потім зберігаємо їх.
                    </li>
                    <li>
                        Щоб отримати значення годинника через АПІ, переходимо назад, та нажимаємо кнопку
                        <b>Посилання на годинник</b>.
                    </li>
                    <li>
                        Використовуючи клієнтський код, виконуйте get запити до
                        <b>https://{{request.get_host}}/api/v1/clocks/&lt;clock_id&gt;</b> додаючи заголовок
                        <b>&quot;Authorization&quot;</b> зі значенням <b>&quot;Bearer api_token&quot;</b>, де <b>api_token</b>
                         - це 64-символьний код, який знаходиться в особистому кабінеті на вкладці
                        <a href="{% url 'profile_tokens' %}">API Токен</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock docs_content %}
